/*--------------обнуление стилей----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; /* обнуляем внешние отступы */
	padding: 0; /* обнуляем внутренние отступы */
	border: 0; /* убираем бордюры */
	outline: 0; /* убираем контуры */
	font-size: 100%; /* задаем базовый размер шрифта, значение по умолчанию = 16px */
	vertical-align: baseline; /* устанавливаем базовое вертикальное выравнивание */
	background: transparent; /* устанавливаем фон прозрачным */
}
body {
	line-height: 1; /* устанавливаем базовую высоту */
}
ol, ul {
	list-style: none; /* убираем маркеры для нумерованных и обычных списков */
}
blockquote, q {
	quotes: none; /* убираем кавычки для цитат */
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: ''; /* убираем */
	content: none; /* и скрываем генерируемое содержимое */
}
:focus {
	outline: 0; /* убираем контуры вокруг ссылок при фокусе */
}
ins {
	text-decoration: none; /* убираем подчеркивание для вставленного текста */
}
del {
	text-decoration: line-through; /* убираем перечеркивание для удаленного текста */
}
table {
	border-collapse: collapse; /* убираем рамки двойной толщины */
	border-spacing: 0; /* убираем расстояние между ячейками */
}
/*-----------------стили обнулились----------------*/
body{
    background-image: url(back.png);
    background-color: #0c78a2;
    background-repeat: repeat-x;
    background-size: inherit;
	height: auto;
}
#centerarea{
    position: absolute;
    width: 1000px;
    height: inherit;
    left: 25%;
    top: 0;
    margin-left: -150px;
    margin-top: 0px;
    background: white;
    border: solid 1px black;
    box-shadow: 0 0 5px 2px;
    padding: 0px;
    overflow: inherit;
}
.logo{
    display: inline-block;
	height: 159px;
    padding-top: 15px;
    padding-left: 40px;
    float: left;
}
.contactus{
    display: inline-block;
    padding-top: 12px;
    padding-right: 30px;
    position: relative;
    float: right;
}
.countbox li{
    display: inline;
}
.countries{
    display: inline;
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    padding: 0;
    float: right;
    clear: right;
}
.photo{
	clear: both;
}
#menu{
	clear: both;
	position: absolute;
	width: 1000px;
	height: 30px;
	left: 0;
	top: auto;
	margin-left: 0px;
	margin-top: 0px;
	background: #313131;
	padding: 0px;
	box-shadow: 0 0 5px 3px;
	overflow: inherit;
}
.menuline{
	width: inherit;
	height: inherit;
}
li a{
	text-decoration: none;
	color: white;
}
.menuline li{
	display: inline;
	font-style: normal;
	font-family: Microsoft Sans Serif;
	font-size: 17px;
	font-stretch: ultra-condensed;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: none;
}
.buttons{
	display: inline-block;
	position: relative;
	float: left;
	padding-top: 5px;
	padding-left: 45px;
	width: auto;
	height: 29px;
}
.triangle{
	display: inline-block;
	font-style: normal;
	margin-left: 10px;
	width: auto;
	height: auto;
	font-family: Arial;
	font-size: 11px;
	color: white;
	text-align: center;
	text-decoration: none;
	background-color: none;
}
.submenu1{
	margin-left: -12px;
	top: 27px;
	clear: both;
	display: none;
	border-top: 2px black;
	position: absolute;
	width: 155px;
	height: 160px;
	background-color: #313131;
	z-index: 1;
}
.submenu li a{
	margin-left: -15px;
	display: block;
	height: 20px;
	margin-top: 9px;
}
.buttons:hover .submenu1{
	display: block;
	clear: both;
}
.fon{
	margin-top: 30px;
	width: 1000px;
	position: relative;
	background: url(kolonExampleFon.png) repeat-y;
	box-shadow: 0 0 5px 3px;
	float: left;
}
.leftcolumn{
	padding: 30px 20px 20px 20px;
	width: 17%;
	float: left;
	background-color: #edeef0;
}
.centercolumn{
	padding: 20px 20px 20px 20px;
	width: 54%;
	float: left;
	background-color: none;
}
.rightcolumn{
	padding: 30px 20px 20px 20px;
	width: 16%;
	border-left: 2px black;
	background-color: #edeef0;
	float: right;
}
h1{
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
	padding-bottom: 20px;
}
p {
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif;
}
footer{
	display: block;
	position: inherit;
	margin-top: 900px;
	margin-left: 400px;
}
.footline{
	clear: both;
	position: inherit;
	height: 80px;
}
