h1{
    background-position: 100px 100px;
    margin-left: 400px;
    font-family: arial;
    text-transform: uppercase;
}
img {margin-left: 510px;}
div p{
      margin-left: 400px;
      font-family: arial;
}
li.box{
      width: 450px;
      height: auto;
}
hr{
    margin-right: 400px;
    margin-left: 400px;
}
h3{
    margin-left: 400px;
    font-family: arial;
}
ul{
  margin-left: 400px;
  font-family: arial;
}
p{
    margin-left: 420px;
    font-family: arial;
}
a{margin-left: 420px;
font-family: arial;
}
